fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
python-multipart
redis
email-validator
pillow
pytest
pytest-asyncio
httpx
psycopg[binary]